openapi: 3.2.0
info:
  description: 'Video Streaming API


    The video streaming API is used by customers to:


    Retrieve the schedule of upcoming streams.'
  version: 3.4.1
  title: Video-v3 Regions API
  contact:
    name: GeniusLive integration manager
    email: videointegrationgroup@geniussports.com
servers:
- url: https://api.geniussports.com/Video-v3/PRODPRM
tags:
- name: Regions
  description: The regions API
paths:
  /regions:
    get:
      tags:
      - Regions
      description: Returns the list of all available geographic regions considered in this API.
      operationId: getRegions
      responses:
        '200':
          description: The regions response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionsResponse'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RegionsResponse'
        '400':
          description: A base [RFC-7807](https://tools.ietf.org/html/rfc7807) error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          description: A base [RFC-7807](https://tools.ietf.org/html/rfc7807) error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: A base [RFC-7807](https://tools.ietf.org/html/rfc7807) error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - CognitoPool: []
      - api_key: []
      summary: Get regions
      x-summary-source: derived
components:
  schemas:
    Region:
      type: object
      required:
      - code
      - continent
      - name
      properties:
        code:
          type: string
          description: The region code
        name:
          type: string
          description: The region name
        continent:
          type: string
          description: The region continent
    Problem:
      type: object
      properties:
        type:
          type: string
          format: uri
          description: 'An absolute URI that identifies the problem type.  When dereferenced,

            it SHOULD provide human-readable documentation for the problem type

            (e.g., using HTML).

            '
        title:
          type: string
          description: 'A short, summary of the problem type. Written in english and readable

            for engineers (usually not suited for non technical stakeholders and

            not localized); example: Service Unavailable

            '
        status:
          type: integer
          format: int32
          description: 'The HTTP status code generated by the origin server for this occurrence

            of the problem.

            '
          minimum: 100.0
          exclusiveMaximum: 600.0
        detail:
          type: string
          description: 'A human readable explanation specific to this occurrence of the

            problem.

            '
        instance:
          type: string
          format: uri
          description: 'An absolute URI that identifies the specific occurrence of the problem.

            It may or may not yield further information if dereferenced.

            '
      description: A Problem object according to https://datatracker.ietf.org/doc/html/rfc7807
    Continent:
      type: object
      required:
      - code
      - name
      properties:
        code:
          type: string
          description: The continent code
        name:
          type: string
          description: The continent name
    Dma:
      type: object
      required:
      - cities
      - code
      - regions
      properties:
        code:
          type: string
          description: The code of the Designated Market Area (DMA)
        cities:
          type: array
          description: The cities located in the DMA
          items:
            type: string
        regions:
          type: array
          description: The regions located in the DMA
          items:
            type: string
    RegionsResponse:
      type: object
      required:
      - continents
      - dmas
      - regions
      properties:
        continents:
          type: array
          description: The list of continents
          items:
            $ref: '#/components/schemas/Continent'
        regions:
          type: array
          description: The list of regions.
          items:
            $ref: '#/components/schemas/Region'
        dmas:
          type: array
          description: The list of DMAs.
          items:
            $ref: '#/components/schemas/Dma'
  securitySchemes:
    CognitoPool:
      type: apiKey
      name: Authorization
      in: header
      x-amazon-apigateway-authtype: cognito_user_pools
    api_key:
      type: apiKey
      name: x-api-key
      in: header
x-amazon-apigateway-security-policy: TLS_1_0
