openapi: 3.2.0
info:
  version: V2
  title: An API for booking fixtures Booking V2 API
servers:
- url: https://dataservices.betgenius.com/BookingSystem
tags:
- name: BookingV2
paths:
  /api/v2/booking/Book:
    post:
      tags:
      - BookingV2
      summary: Book a fixture
      operationId: BookingV2_Book
      parameters:
      - name: fixtureId
        in: query
        description: ''
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
  /api/v2/booking/UnBook:
    post:
      tags:
      - BookingV2
      summary: Un-book a fixture
      operationId: BookingV2_UnBook
      parameters:
      - name: fixtureId
        in: query
        description: ''
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
  /api/v2/booking/Fixtures:
    get:
      tags:
      - BookingV2
      summary: Request a list of upcoming fixtures
      operationId: BookingV2_Fixtures
      parameters:
      - name: from
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: until
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: sportId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Fixture'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Fixture'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Fixture'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Fixture'
components:
  schemas:
    Fixture:
      type: object
      properties:
        FixtureId:
          format: int32
          type: integer
        CompetitionId:
          format: int32
          type: integer
        CompetitionName:
          type: string
        SportId:
          format: int32
          type: integer
        Name:
          type: string
        Date:
          format: date-time
          type: string
        CustomerFixtureId:
          type: string
        IsBooked:
          type: boolean
        AvailableFeeds:
          type: array
          items:
            $ref: '#/components/schemas/Feed'
        ExternalIds:
          type: array
          items:
            $ref: '#/components/schemas/ExternalId'
    Feed:
      type: object
      properties:
        Name:
          type: string
        Type:
          type: string
        IsLicensed:
          type: boolean
        Metadata:
          type: object
          additionalProperties:
            type: string
    ExternalId:
      type: object
      properties:
        Source:
          type: string
        Id:
          type: string
  securitySchemes:
    basic:
      type: http
      scheme: basic
      description: Basic HTTP Authentication
